<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet"  href="FaceWash.css">
    </head>
    <body>
        <div class= "rectangle"> </div>
        <h1 class= "signup">Sign Up</h1>
        <div class= "signupbox">
        <form>
            <label>What Time Do You Wake Up? </label>
            <div>
                <input type="time" class="time" id="time" name="time"> 
            </div>
            <label>What Time do You Sleep?</label>
            <input type="time" class="time" id="time" name="time">
            <label>How Many Minutes Before You Sleep Do you Want an Alarm for Face Wash Reminder?</label>
            <input type = "number" step = "5" min= "0" placeholder= "please enter in minutes">
            <a href=" "> <!--should go to the FaceWash Reminders-->
                <input type= "button" value= "Submit">
            </a>
        </form>
        </div>
    </body>